[submodule "vendor/google/googletest"]
	path = vendor/google/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/google/benchmark"]
	path = vendor/google/benchmark
	url = https://github.com/google/benchmark.git
[submodule "vendor/dynamorio/dynamorio"]
	path = vendor/dynamorio/dynamorio
	url = https://github.com/DynamoRIO/dynamorio.git
