[submodule "vendor/google/googletest"]
	path = vendor/google/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/google/benchmark"]
	path = vendor/google/benchmark
	url = https://github.com/google/benchmark.git
[submodule "vendor/jtilly/inih"]
	path = vendor/jtilly/inih
	url = https://github.com/jtilly/inih.git
[submodule "vendor/leethomason/tinyxml2"]
	path = vendor/leethomason/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "vendor/HowardHinnant/date"]
	path = vendor/HowardHinnant/date
	url = https://github.com/HowardHinnant/date.git
[submodule "vendor/greg7mdp/sparsepp"]
	path = vendor/greg7mdp/sparsepp
	url = https://github.com/greg7mdp/sparsepp.git
