html {
    font-family: Arial;
    margin-left: 10px;
    margin-right: 10px;
}


.noCode{
    width: 100%;
    border: 10px solid black;
    height: 350px;
    line-height: 350px;
    text-align: center;
}
.noCodeSpan{
    display: inline-block;
    vertical-align: middle;
    line-height: normal
}
.collapsible-body{
    background-color: white;
}
.collapsible{
    box-shadow: none;
    border: none;
}
.collapsible-header{
    background-color: #B22222;
    width: 100%;
    color: white;
    font-weight: bold;
   
}
.collapsible-header:hover{
    background-color: rgb(224, 160, 160);
}

.grey{
    background-color: grey;
}


.reduced-margin{
    margin-top: 0;
    margin-bottom: 0;
}

.btn{
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: left;
    text-transform: lowercase;
    
}
.btn:hover, .btn:focus {
    background-color: rgb(71, 71, 71);
}

.line-highlight {
	background: hsla(24, 50%, 80%,.08);
}

code[class*="language-"],
pre[class*="language-"] {
    line-height: 22px;
    height: 350px;
    min-width: 10px;
    width: 100%;

}